.profile-header{
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.profile-header__content{
  display: flex;
  .profile-header__heading{
    padding: 0 1rem;
  }
}