
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
  font-family: 'Noto Sans', sans-serif;
}

.icon {
  font-size: 19px;
  color: #536471;
}
.icon_L{
  font-size: 25px;
}

.icon_XL{
  font-size: 40px;
}

.icon_s{
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  display: block;
}

.bold {
  font-weight: bold;
  
}

.content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.root-container{
  position: relative;
  display: flex;
  justify-content: flex-start;
}
#root {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  // column-gap: 4rem;
}

.head-container{
  position: relative;
  display: flex;
  justify-content: flex-end;
 
}
