.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-btn{
  background-color: #1da1f2;
  color: #fff;
  padding:  0 1.5rem;
  height: 3.2rem;
  border-radius: 2rem;
}
.tertiary-btn {
  width: max-content;
  color: #1da1f2;
  padding: 1rem 1.5rem;
  border: 1px solid #1da1f2;
  border-radius: 2rem;
  transition: background-color 300ms ease;
  &:hover{
    background-color: rgba(29, 160, 242, 0.1);
    transition: background-color 300ms ease;
  }
}

.ghost-btn{
  width: 100%;
  height: 100%;
  padding: 1.6rem 0;
  color: #1da1f2;
  text-align: center;
  font-size: 1.5rem;
  transition: background-color 300ms ease;
  &:hover{
    background-color: rgba(29, 160, 242, 0.247);
    transition: background-color 300ms ease;
  }
}

.roundShape-btn{
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;

  &:hover{
    background-color: rgba(29, 160, 242, 0.2);
    transition: all 300ms ease;
    .icon{
      color: #1da1f2;
      
    }
  }
}