.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tertiary-btn {
  width: max-content;
  color: #1da1f2;
  padding: 1rem 1.5rem;
  border: 1px solid #1da1f2;
  border-radius: 2rem;
  font-size: 1.5rem;
}
