.prfile-settings{
  position: relative;
  width: 60rem;
  // max-width: 60rem;
  // margin: 0 auto;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  min-height: 100vh;
}

.profile-settings__images{
  padding-top: .1rem;
  position: relative;
  width: 100%;
  .profile-settings__cover{
    position: relative;
    width: 100%;
    height: 20rem;
    background-position: center;
    background-size: cover;

    &::after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(70, 69, 69, 0.705);
      opacity: .7;
      z-index: 2;
    }

    .cover__actions{
      // min-width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;

      &--holder{
        min-width: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: flex;

        .cover_remove{
          position: relative;
          width: 4rem;
          height: 4rem;
          border-radius: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: background-color 300ms ease;
          .icon{color: #fff;}
          &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }

          &:hover{
            transition: background-color 300ms ease;
            background-color: rgba(88, 88, 88, 0.603);
          }
        }
      }
    }
  }
}

.profile-settings__dp{
  position: relative;
  width: 100%;
  height: 13rem;
  padding: 0 2rem;
  margin-top: -6rem;
  z-index: 22;
  .dp_holder{
    position: relative;
    width: 11.2rem;
    height: 11.2rem;
    background-color: red;
    border-radius: 10rem;
    z-index: 3;
    border: .4rem solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img{
      max-width: 100%;
      max-height: 100%;
      transform: scale(1.34);
    }
     .dp__actions--holder{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       z-index: 33;
     }
    &::after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(70, 69, 69, 0.342);
    }
  }
}

.profile-setings__details{
  padding: 1rem;
  &> div {
    margin-bottom: 2.5rem;
  }
}
