.HeadNavigation{
  position: fixed;
  height: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background:#fff;
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;

  z-index: 222;
  .HeadNav__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 500px){
  .HeadNavigation{
    position: sticky;
    top: 0;
    left: 0;
    bottom: unset;
    overflow: hidden;
    // width: 100%;
    height: 100vh;
    z-index: 222;
    justify-content: center;
    // margin-right: 1px;
    padding: 1.5rem 1.5rem;

    .HeadNav__list{
      display: unset;
      width: max-content;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1300px) {

  .HeadNavigation{
    padding: 0 1.2rem;
  }
}